@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.btn{
    border-radius: 8px;
background: #FF5400;
color: #FFF;
padding: 8px 10px;
font-size: 16px;
font-weight: 700;
text-align: center;
cursor: pointer;
border: 0;
}
button:hover{
    background-color: #f88e59;

}
body{
    margin: 30px 80px;
}
.logo{
    display: flex;
    align-items: center;
}
.img-logo{
    width: 48px;
height: 56.008px;
}
.logo h2{
    color: #090909;
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.vista{
    color: #FF5400;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
cursor: pointer;
}
.home{
    color: #FF5400;
}

/* banner */
.banner{
   text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 60px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;

}
.banner h1{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.banner p{
    color: #FFF;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
text-align: center;
}
.input{
    width: 174px;
height: 30px;
flex-shrink: 0;
padding-left: 15px;
}
.tour{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.tour-text h2{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.tour-text p{
    width: 550px;
    text-align: left;
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
}
.des{
    text-align: center;
    width: 600px;
    margin: 50px auto;
}
.des h2{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.des p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
.des-img{
    margin-top: 50px;
    margin-bottom: 50px;
}
h4{
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 28px;
font-weight: 800;

}
.img12{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.img1{
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
margin-right: 10px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
}
.img2{
    width: 573px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 8.png), lightgray -101px -108.075px / 135.253% 172.05% no-repeat;
}
.img345{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.img3{
    width: 374px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
margin-right: 10px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
}
.img4{
    width: 474px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
margin-right: 10px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}
.img5{
    width: 274px;
height: 286px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 9.png), lightgray 50% / cover no-repeat;
}
.img67{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.img6{
    width: 450px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
margin-right: 10px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 11.png), lightgray 50% / cover no-repeat;
}
.img7{
    width: 650px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(images/Rectangle\ 10.png), lightgray 50% / cover no-repeat;
}
.choose{
    
}
.choose h3{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.choose p{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
margin-top: 30px auto;
}
h5{
    color: #131318;
text-align: left;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.hotel-map{
    display: flex;
    justify-content: space-around;
}
.hotel{
    text-align: left;
    margin-top: 20px;
    padding: 30px 30px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);

}

.map{
    text-align: left;
    margin-top: 20px;
    padding: 30px 30px;
    width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

.price{
text-align: left;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
    padding: 30px 30px;
width: 573px;
height: 284px;
flex-shrink: 0;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
}
.deals{
    margin-top: 20px;
    margin-bottom: 50px;
}
.deals-img1{
    width: 1170px;
height: 500px;
flex-shrink: 0;
margin: 20px auto;
border-radius: 16px;
background: url(images/Rectangle\ 12.png), lightgray 50% / cover no-repeat;
}
.deal1{
    
    width: 480px;
height: 320px;
padding-left: 20px;
padding-top: 20px;
margin-left: 50%;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
position: relative;
top: 40px;
}
.deal2{
    
    width: 480px;
height: 320px;
padding-left: 20px;
padding-top: 20px;
margin-left: 7%;
flex-shrink: 0;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
position: relative;
top: 80px;
}
.icons{
    display: flex;
    align-items: center;
}
.icons p{
    padding-right: 10px;
}
.ic{
    width: 24px;
height: 24px;
flex-shrink: 0;
}
.pri{
    color: #FF5400;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
padding-bottom: 20px;
}
.deals-img2{
    width: 1170px;
height: 500px;
flex-shrink: 0;
margin: 20px auto;
border-radius: 16px;
background: url(images/Rectangle\ 12\ \(1\).png), lightgray 50% / cover no-repeat;
}
.see-all-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.newsletter{
    width: 350px;
height: 600px;
text-align: left;
border-radius: 8px;
border: 5px;
border-color: #FF5400;
justify-content: left;
}
.new1{
    width: 350px;
height: 52px;
flex-shrink: 0;
margin-bottom: 5px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: 0;
}
.save70{
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    padding: 15px 10px 15px 10px;
    border-radius: 16px;
    width: 300px;
height: 100px;
transform: rotate(-19.628deg);
flex-shrink: 0;
position: relative;
left: 290px;
bottom: 200px;

}
footer{
margin: 20px auto;
    background-color: rgba(19, 19, 24, 0.05);
   text-align: center;
   justify-items: center;
   padding-top: 30px;
   padding-bottom: 30px;
}
.logo1{
    align-items: center;
}